python string

In [1]:
# Creating a string
my_string = "Hello, World!"
print(my_string)

Hello, World!

In [2]:
my_string = 'pushpa'
print(my_string)

pushpa

In [3]:
my_string = """ hi"""
print(my_string)

 hi

In [4]:
# Concatenation
string1 = "data"
string2 = "science"
concatenated_string = string1 + " " + string2
print(concatenated_string)

data science

In [17]:
#  repetition
string1 = "Hello"
string2 = "World"
concatenated_string = (string1 + " ") * 4 + " " + (string2 + " ") * 4
print(concatenated_string)

Hello Hello Hello Hello  World World World World

In [24]:
string1 = "Hello"
string2 = "World"
concatenated_string = (string1 + " "  + string2 + "  " ) * 4 
print(concatenated_string)

Hello World  Hello World  Hello World  Hello World

In [52]:
#index
string = "python"
print(string[0])
print(string[-1])

p
n

In [61]:
string_quote = "Success is not final failure is not fatal, It is the courage to continue that counts"
print(string_quote[10])

In [66]:
#slicing
my_string = " hello, world "
substring = my_string[5:9]
print(substring)

o, w

In [70]:
my_string = "Success is not final failure is not fatal, It is the courage to continue that counts"
substring = my_string[10:20]
print(substring)

 not final

In [77]:
# python format string %
name = "pushpa"
age = 20
formatted_string = "My name is %s and I'm %d years old." % (name, age)
print(formatted_string)

My name is pushpa and I'm 20 years old.

In [78]:
# format method ()
name = 'pushpa'
age = 30
formatted_string = "My name is {} and I'm {} years old.".format(name, age)
print(formatted_string)

My name is pushpa and I'm 30 years old.

In [79]:
# f""" string
name = "Pushpa"
education = "UG in Kakinada in the stream of BBA"
interests = "drawing, editing, and photography"
intro = f"""
Hello, my name is {name}. 
I have completed my {education}.
I have a passion for {interests}.
In my free time, I enjoy indulging in these activities.
"""
print(intro)

Hello, my name is Pushpa.
I have completed my UG in Kakinada in the stream of BBA.
I have a passion for drawing, editing, and photography.
In my free time, I enjoy indulging in these activities.

In [81]:
#string methods
# len
my_string = """Lost in a maze of memories, a weary traveler seeks the light of hope amidst the shadows of doubt. 
With each step, they unravel the mysteries of their past, guided by the flickering flames of resilience burning within."""
length = len(my_string)
print(length)

218

In [85]:
# lower and upper
my_string1 = 'abcdefghijklmnopqrstuvwxyz'
my_string2 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
print(my_string1.upper())
print(my_string2.lower())

ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz

In [87]:
#strip
string = "  Hello, World!   "
stripped_text = string.strip()
print(stripped_text)

Hello, World!

In [89]:
multi_string = """Lost in a maze of memories, a weary traveler seeks the light of hope amidst the shadows of doubt. 
With each step, they unravel the mysteries of their past, guided by the flickering flames of resilience burning within.   """
stripped_text = multi_string.strip()
print(stripped_text)

Lost in a maze of memories, a weary traveler seeks the light of hope amidst the shadows of doubt.
With each step, they unravel the mysteries of their past, guided by the flickering flames of resilience burning within.

In [91]:
#replace
text = "one one two one two three"
new_text = text.replace("one", "1")
print(new_text)

1 1 two 1 two three

In [94]:
text = "one one two one two three"
new_text = text.replace("two", "2", )
print(new_text)

one one 2 one 2 three

In [95]:
#split 
string = "Hello, World!"
words = string.split()
print(words)

['Hello,', 'World!']

In [96]:
string = "apple,banana,orange"
fruits = string.split("apple")
print(fruits)

['', ',banana,orange']

In [97]:
split = "apple,banana,orange"
fruits = split.split(",")
print(fruits)

['apple', 'banana', 'orange']

In [98]:
# join
fruits = ["apple", "banana", "orange"]
fruit_string = ", ".join(fruits)
print(fruit_string)

apple, banana, orange

In [112]:
characters = ['a', 'b', 'c', 'd']
char_string = ''.join(characters) 
print(char_string)

abcd